body {
    font-family: "Open Sans";
}

/* HEAD */
#headline {
    width: 100%;
    height: 150px;
    background-color: #3f424f;
    float: left;
    transition: all 0.9s ease;
    text-align: center;
}

.main {
    height: 150px;
    background-color: rgba(63, 66, 79, 0.71);
    float: left;
}

.main.pink {
    height: 150px;
    background-color: rgba(255, 182, 193, 0.71);
    float: left;
}

.main p {
    margin: 22px 20px 0 28px;
    font-size: 64px;
    color: white;
    font-weight: 400;
}

.timer {

}

span.dot {
    color: #fff;
    font-size: 34px;
    margin: 10px;
}


/* TASKS */
#box {
    margin: 30px auto 0 auto;
    width: 80%;
    /*border: 1px solid black;*/
    padding: 10px;
    overflow: hidden;

}

input.new-task-text {
    display: block;
    float: left;
    margin: 10px 0 10px 10px;
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-family: "Open Sans";

}

input:focus {
    outline-color: lightpink;
}


button.pink {
    foat: left;
    background-color: lightpink;
    width: 100px;
    height: 45px;
    margin: 10px 0 10px 10px;
    color: #3f424f;
    font-family: "Open Sans";
    font-size: 20px;
    border: none;
}

ul {
    margin-top: 45px;
    overflow: hidden;
    list-style-image: url("http://i.imgur.com/YrVbSsH.png");
}

li.task {
    padding: 5px;
}

span.task-text {
    color: #3f424f;
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 100;
    margin: 20px;
    cursor: pointer;
    padding: 5px;
}

span.option {
    color: gray;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 100;
    margin: 20px;
    cursor: pointer;
}

span.done {
    text-decoration: line-through;
}

.active {
    background-color: lightpink;
}

/* FOOTER */
.quote {
    margin: 10px;
    position: fixed;
    bottom: 0px;
    font-style: italic;
    font-size: 24px;
    color: gray;
    font-weight: 100;
}